html {
  height: 100%;
  box-sizing: border-box;
  background-color: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: white;
  border: solid black 2px;
  color: black;
}

em {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: gray;
}

h1 {
  font-family: 'Montserrat Subrayada';
  text-align: center;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  background-color: black;
  color: white;
  transition: 0.25s;
}

p {
  margin-left: 10px;
}

em {
  text-align: right;
}

.content {
  display: none;
  margin-bottom: 20px;
}

.shown {
  display: block;
}

.logo {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: transparent;
  text-align: center;
}

.menu {
  text-align: center;
  /*margin-bottom: 40px;*/
}

.menu a {
  color: white;
  background-color: black;
}

.menu a:hover {
  color: black;
  background-color: white;
}

.menu .active {
  background-color: white;
  color: black;
  cursor: not-allowed;
}

.expand {
  text-align: left;
  margin-bottom: 20px;
}

.notes {
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  width: 90%;
/*   max-width: 800px; */
/*   max-height: 700px; */
  background-color: white;
  border-radius: 10px;
  text-align: center;
  overflow: auto;
  scroll-behavior: smooth;
}

.notes h1 {
  margin-top: 0;
}

.notes::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 0 10px 10px 0;
}

.notes::-webkit-scrollbar {
  width: 6px;
  /*background-color: #000;*/
}

.notes::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

.news-div {
  display: inline-grid;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 500px;
  margin: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.news-div img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
  padding: 10px;
  border-radius: 20px;
}

.news-div a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.news-div a:hover {
  background-color: white;
  color: black;
  transition: 0.25s;
}

.news-div em {
  color: white;
  text-align: center;
  margin-top: auto;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  background-color: transparent;
  text-align: center;
}

.footer a {
  color: white;
  background-color: transparent;
}

.footer a:hover {
  color: black;
  background-color: white;
}

.glitch {
  color: white;
  font-size: 60px;
  position: relative;
  width:260px;
  margin: 0 auto;

  font-weight: 900;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(219deg, 
    var(--color-1) 19%, 
    transparent 19%,transparent 20%, 
    var(--color-2) 20%, var(--color-2)  39%,
    transparent 39%,transparent 40%, 
    var(--color-3) 40%,var(--color-3) 59% ,
    transparent 59%,transparent 60%, 
    var(--color-4) 60%, var(--color-4) 79%,
    transparent 79%, transparent 80%, 
    var(--color-5) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*
@keyframes noise-anim {
  0% {
    clip: rect(83px, 9999px, 23px, 0);
  }
  5% {
    clip: rect(20px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(70px, 9999px, 77px, 0);
  }
  15.0% {
    clip: rect(83px, 9999px, 85px, 0);
  }
  20% {
    clip: rect(50px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(36px, 9999px, 59px, 0);
  }
  30.0% {
    clip: rect(38px, 9999px, 14px, 0);
  }
  35% {
    clip: rect(92px, 9999px, 41px, 0);
  }
  40% {
    clip: rect(20px, 9999px, 22px, 0);
  }
  45% {
    clip: rect(44px, 9999px, 7px, 0);
  }
  50% {
    clip: rect(88px, 9999px, 50px, 0);
  }
  55.0% {
    clip: rect(78px, 9999px, 89px, 0);
  }
  60.0% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  65% {
    clip: rect(91px, 9999px, 17px, 0);
  }
  70% {
    clip: rect(59px, 9999px, 64px, 0);
  }
  75% {
    clip: rect(55px, 9999px, 61px, 0);
  }
  80% {
    clip: rect(85px, 9999px, 42px, 0);
  }
  85.0% {
    clip: rect(100px, 9999px, 24px, 0);
  }
  90% {
    clip: rect(56px, 9999px, 45px, 0);
  }
  95% {
    clip: rect(86px, 9999px, 62px, 0);
  }
  100% {
    clip: rect(86px, 9999px, 47px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: black;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(50px, 9999px, 70px, 0);
  }
  5% {
    clip: rect(80px, 9999px, 10px, 0);
  }
  10% {
    clip: rect(1px, 9999px, 62px, 0);
  }
  15.0% {
    clip: rect(82px, 9999px, 40px, 0);
  }
  20% {
    clip: rect(32px, 9999px, 63px, 0);
  }
  25% {
    clip: rect(63px, 9999px, 31px, 0);
  }
  30.0% {
    clip: rect(15px, 9999px, 39px, 0);
  }
  35% {
    clip: rect(17px, 9999px, 52px, 0);
  }
  40% {
    clip: rect(66px, 9999px, 59px, 0);
  }
  45% {
    clip: rect(3px, 9999px, 58px, 0);
  }
  50% {
    clip: rect(56px, 9999px, 28px, 0);
  }
  55.0% {
    clip: rect(90px, 9999px, 91px, 0);
  }
  60.0% {
    clip: rect(94px, 9999px, 97px, 0);
  }
  65% {
    clip: rect(18px, 9999px, 79px, 0);
  }
  70% {
    clip: rect(59px, 9999px, 37px, 0);
  }
  75% {
    clip: rect(35px, 9999px, 83px, 0);
  }
  80% {
    clip: rect(51px, 9999px, 57px, 0);
  }
  85.0% {
    clip: rect(28px, 9999px, 63px, 0);
  }
  90% {
    clip: rect(98px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(69px, 9999px, 94px, 0);
  }
  100% {
    clip: rect(56px, 9999px, 1px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}*/
