html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background-color: black;
}

em {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: gray;
}

h1 {
  font-family: 'Montserrat Subrayada';
  text-align: center;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  background-color: black;
  color: white;
  transition: 0.25s;
}

p {
  margin-left: 10px;
}

em {
  text-align: right;
}

.content {
  display: none;
  margin-bottom: 20px;
}

.logo {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: transparent;
  text-align: center;
}

.menu {
  text-align: center;
  margin-bottom: 40px;
}

.menu a {
  color: white;
  background-color: black;
}

.menu a:hover {
  color: black;
  background-color: white;
}

.menu .active {
  background-color: transparent;
  color: black;
  cursor: not-allowed;
}

.expand {
  text-align: left;
  margin-bottom: 20px;
}

.notes {
  margin: 0 auto;
  margin-top: 60px;
  padding: 40px;
  max-width: 800px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
}

.notes h1 {
  margin-top: 0;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  padding-bottom: 40px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 90%;
}

#modal-content p {
  font-family: 'Oxygen', sans-serif;
}

#modal-content blockquote {
  margin: 0;
}

#modal-content pre {
  font-family: 'Oxygen', sans-serif;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;
  display: block;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #efefef;
}

#modal-content h1 {
  font-family: 'Oxygen', sans-serif;
}

#modal-content h2 {
  font-family: 'Oxygen', sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #efefef;
  cursor: auto;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.terminal_window {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  tex-align: left;
  margin-top: 15px;
  postion: relative;
  border-radius: 10px;
}

.terminal_window header {
  background-color: #E0E8F0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}

.terminal_window .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.red_btn {
  background-color: #E75448;
}

.green_btn {
  background-color: #3BB662;
}

.yellow_btn {
  background-color: #E5C30F;
}

.terminal_window {
  background-color: #0D1F2D;
  color: #F4FAFF;
  font-size: 11pt;
}

.terminal_text {
  margin-left: 20px;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
}

#typed-strings {
  display: inline-block;
  postiion: relative;
}

#typed {
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  margin-left: 15px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  background-color: transparent;
  text-align: center;
}

.footer a {
  color: white;
  background-color: transparent;
}

.footer a:hover {
  color: black;
  background-color: white;
}

.glitch {
  color: white;
  font-size: 60px;
  position: relative;
  width:260px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(83px, 9999px, 23px, 0);
  }
  5% {
    clip: rect(20px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(70px, 9999px, 77px, 0);
  }
  15.0% {
    clip: rect(83px, 9999px, 85px, 0);
  }
  20% {
    clip: rect(50px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(36px, 9999px, 59px, 0);
  }
  30.0% {
    clip: rect(38px, 9999px, 14px, 0);
  }
  35% {
    clip: rect(92px, 9999px, 41px, 0);
  }
  40% {
    clip: rect(20px, 9999px, 22px, 0);
  }
  45% {
    clip: rect(44px, 9999px, 7px, 0);
  }
  50% {
    clip: rect(88px, 9999px, 50px, 0);
  }
  55.0% {
    clip: rect(78px, 9999px, 89px, 0);
  }
  60.0% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  65% {
    clip: rect(91px, 9999px, 17px, 0);
  }
  70% {
    clip: rect(59px, 9999px, 64px, 0);
  }
  75% {
    clip: rect(55px, 9999px, 61px, 0);
  }
  80% {
    clip: rect(85px, 9999px, 42px, 0);
  }
  85.0% {
    clip: rect(100px, 9999px, 24px, 0);
  }
  90% {
    clip: rect(56px, 9999px, 45px, 0);
  }
  95% {
    clip: rect(86px, 9999px, 62px, 0);
  }
  100% {
    clip: rect(86px, 9999px, 47px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: blue;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(50px, 9999px, 70px, 0);
  }
  5% {
    clip: rect(80px, 9999px, 10px, 0);
  }
  10% {
    clip: rect(1px, 9999px, 62px, 0);
  }
  15.0% {
    clip: rect(82px, 9999px, 40px, 0);
  }
  20% {
    clip: rect(32px, 9999px, 63px, 0);
  }
  25% {
    clip: rect(63px, 9999px, 31px, 0);
  }
  30.0% {
    clip: rect(15px, 9999px, 39px, 0);
  }
  35% {
    clip: rect(17px, 9999px, 52px, 0);
  }
  40% {
    clip: rect(66px, 9999px, 59px, 0);
  }
  45% {
    clip: rect(3px, 9999px, 58px, 0);
  }
  50% {
    clip: rect(56px, 9999px, 28px, 0);
  }
  55.0% {
    clip: rect(90px, 9999px, 91px, 0);
  }
  60.0% {
    clip: rect(94px, 9999px, 97px, 0);
  }
  65% {
    clip: rect(18px, 9999px, 79px, 0);
  }
  70% {
    clip: rect(59px, 9999px, 37px, 0);
  }
  75% {
    clip: rect(35px, 9999px, 83px, 0);
  }
  80% {
    clip: rect(51px, 9999px, 57px, 0);
  }
  85.0% {
    clip: rect(28px, 9999px, 63px, 0);
  }
  90% {
    clip: rect(98px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(69px, 9999px, 94px, 0);
  }
  100% {
    clip: rect(56px, 9999px, 1px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
